In [1]:
import pandas as pd

### Load the datasets

In [2]:
games = pd.read_csv("data/games.csv")
player_valuations = pd.read_csv("data/player_valuations.csv")
players = pd.read_csv("data/players.csv")
transfers = pd.read_csv("data/transfers.csv")
game_lineups = pd.read_csv("data/game_lineups.csv")
game_events = pd.read_csv("data/game_events.csv")
appearances = pd.read_csv("data/appearances.csv")
club_games = pd.read_csv("data/club_games.csv")
clubs = pd.read_csv("data/clubs.csv")
competitions = pd.read_csv("data/competitions.csv")


### Display basic info

In [3]:
tables = {
    "games": games, "player_valuations": player_valuations, "players": players, "transfers": transfers,
    "game_lineups": game_lineups, "game_events": game_events, "appearances": appearances, "club_games": club_games,
    "clubs": clubs, "competitions": competitions
}


### Checking missing values and duplicates

In [4]:
for name, df in tables.items():
    print(f"\nðŸ“Œ {name.upper()} TABLE")
    print(df.info())  # Column types and null values
    print(f"Missing values:\n{df.isnull().sum()}")
    print(f"Duplicates: {df.duplicated().sum()}\n")

ðŸ“Œ GAMES TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73151 entries, 0 to 73150
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 73151 non-null  int64
 1   competition_id          73151 non-null  object
 2   season                  73151 non-null  int64
 3   round                   73151 non-null  object
 4   date                    73151 non-null  object
 5   home_club_id            73142 non-null  float64
 6   away_club_id            73142 non-null  float64
 7   home_club_goals         73138 non-null  float64
 8   away_club_goals         73138 non-null  float64
 9   home_club_position      50814 non-null  float64
 10  away_club_position      50814 non-null  float64
 11  home_club_manager_name  72321 non-null  object
 12  away_club_manager_name  72321 non-null  object
 13  stadium                 72901 non-null  object
 14  attendance              63230 non-null  float64
 15  referee                 72498 non-null  object
 16  url                     73151 non-null  object
 17  home_club_formation     66185 non-null  object
 18  away_club_formation     66354 non-null  object
 19  home_club_name          60330 non-null  object
 20  away_club_name          61722 non-null  object
 21  aggregate               73138 non-null  object
 22  competition_type        73151 non-null  object
dtypes: float64(7), int64(2), object(14)
memory usage: 12.8+ MB
None
Missing values:
game_id                       0
competition_id                0
season                        0
round                         0
date                          0
home_club_id                  9
away_club_id                  9
home_club_goals              13
away_club_goals              13
home_club_position        22337
away_club_position        22337
home_club_manager_name      830
away_club_manager_name      830
stadium                     250
attendance                 9921
referee                     653
url                           0
home_club_formation        6966
away_club_formation        6797
home_club_name            12821
away_club_name            11429
aggregate                    13
competition_type              0
dtype: int64
Duplicates: 0


ðŸ“Œ PLAYER_VALUATIONS TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494679 entries, 0 to 494678
Data columns (total 5 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            494679 non-null  int64
 1   date                                 494679 non-null  object
 2   market_value_in_eur                  494679 non-null  int64
 3   current_club_id                      494679 non-null  int64
 4   player_club_domestic_competition_id  494679 non-null  object
dtypes: int64(3), object(2)
memory usage: 18.9+ MB
None
Missing values:
player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64
Duplicates: 0


ðŸ“Œ PLAYERS TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32564 entries, 0 to 32563
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32564 non-null  int64
 1   first_name                            30505 non-null  object
 2   last_name                             32564 non-null  object
 3   name                                  32564 non-null  object
 4   last_season                           32564 non-null  int64
 5   current_club_id                       32564 non-null  int64
 6   player_code                           32564 non-null  object
 7   country_of_birth                      29760 non-null  object
 8   city_of_birth                         30103 non-null  object
 9   country_of_citizenship                32183 non-null  object
 10  date_of_birth                         32517 non-null  object
 11  sub_position                          32384 non-null  object
 12  position                              32564 non-null  object
 13  foot                                  30018 non-null  object
 14  height_in_cm                          30307 non-null  float64
 15  contract_expiration_date              20458 non-null  object
 16  agent_name                            16517 non-null  object
 17  image_url                             32564 non-null  object
 18  url                                   32564 non-null  object
 19  current_club_domestic_competition_id  32564 non-null  object
 20  current_club_name                     32564 non-null  object
 21  market_value_in_eur                   31016 non-null  float64
 22  highest_market_value_in_eur           31016 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB
None
Missing values:
player_id                                   0
first_name                               2059
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2804
city_of_birth                            2461
country_of_citizenship                    381
date_of_birth                              47
sub_position                              180
position                                    0
foot                                     2546
height_in_cm                             2257
contract_expiration_date                12106
agent_name                              16047
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1548
highest_market_value_in_eur              1548
dtype: int64
Duplicates: 0


ðŸ“Œ TRANSFERS TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79487 entries, 0 to 79486
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   player_id            79487 non-null  int64
 1   transfer_date        79487 non-null  object
 2   transfer_season      79487 non-null  object
 3   from_club_id         79487 non-null  int64
 4   to_club_id           79487 non-null  int64
 5   from_club_name       79487 non-null  object
 6   to_club_name         79487 non-null  object
 7   transfer_fee         51876 non-null  float64
 8   market_value_in_eur  49291 non-null  float64
 9   player_name          79487 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.1+ MB
None
Missing values:
player_id                  0
transfer_date              0
transfer_season            0
from_club_id               0
to_club_id                 0
from_club_name             0
to_club_name               0
transfer_fee           27611
market_value_in_eur    30196
player_name                0
dtype: int64
Duplicates: 0


ðŸ“Œ GAME_LINEUPS TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191911 entries, 0 to 2191910
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   game_lineups_id  object
 1   date             object
 2   game_id          int64
 3   player_id        int64
 4   club_id          int64
 5   player_name      object
 6   type             object
 7   position         object
 8   number           object
 9   team_captain     int64
dtypes: int64(4), object(6)
memory usage: 167.2+ MB
None
Missing values:
game_lineups_id    0
date               0
game_id            0
player_id          0
club_id            0
player_name        0
type               0
position           3
number             0
team_captain       0
dtype: int64
Duplicates: 0


ðŸ“Œ GAME_EVENTS TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021239 entries, 0 to 1021238
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   game_event_id     1021239 non-null  object
 1   date              1021239 non-null  object
 2   game_id           1021239 non-null  int64
 3   minute            1021239 non-null  int64
 4   type              1021239 non-null  object
 5   club_id           1021239 non-null  int64
 6   player_id         1021239 non-null  int64
 7   description       934195 non-null   object
 8   player_in_id      489889 non-null   float64
 9   player_assist_id  154790 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 77.9+ MB
None
Missing values:
game_event_id            0
date                     0
game_id                  0
minute                   0
type                     0
club_id                  0
player_id                0
description          87044
player_in_id        531350
player_assist_id    866449
dtype: int64
Duplicates: 0


ðŸ“Œ APPEARANCES TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681717 entries, 0 to 1681716
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1681717 non-null  object
 1   game_id                 1681717 non-null  int64
 2   player_id               1681717 non-null  int64
 3   player_club_id          1681717 non-null  int64
 4   player_current_club_id  1681717 non-null  int64
 5   date                    1681717 non-null  object
 6   player_name             1681711 non-null  object
 7   competition_id          1681717 non-null  object
 8   yellow_cards            1681717 non-null  int64
 9   red_cards               1681717 non-null  int64
 10  goals                   1681717 non-null  int64
 11  assists                 1681717 non-null  int64
 12  minutes_played          1681717 non-null  int64
dtypes: int64(9), object(4)
memory usage: 166.8+ MB
None
Missing values:
appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               6
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64
Duplicates: 0


ðŸ“Œ CLUB_GAMES TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146302 entries, 0 to 146301
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   game_id                146302 non-null  int64
 1   club_id                146284 non-null  float64
 2   own_goals              146276 non-null  float64
 3   own_position           101628 non-null  float64
 4   own_manager_name       144642 non-null  object
 5   opponent_id            146284 non-null  float64
 6   opponent_goals         146276 non-null  float64
 7   opponent_position      101628 non-null  float64
 8   opponent_manager_name  144642 non-null  object
 9   hosting                146302 non-null  object
 10  is_win                 146302 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 12.3+ MB
None
Missing values:
game_id                      0
club_id                     18
own_goals                   26
own_position             44674
own_manager_name          1660
opponent_id                 18
opponent_goals              26
opponent_position        44674
opponent_manager_name     1660
hosting                      0
is_win                       0
dtype: int64
Duplicates: 0


ðŸ“Œ CLUBS TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  439 non-null    int64
 1   club_code                439 non-null    object
 2   name                     439 non-null    object
 3   domestic_competition_id  439 non-null    object
 4   total_market_value       0 non-null      float64
 5   squad_size               439 non-null    int64
 6   average_age              401 non-null    float64
 7   foreigners_number        439 non-null    int64
 8   foreigners_percentage    390 non-null    float64
 9   national_team_players    439 non-null    int64
 10  stadium_name             439 non-null    object
 11  stadium_seats            439 non-null    int64
 12  net_transfer_record      439 non-null    object
 13  coach_name               0 non-null      float64
 14  last_season              439 non-null    int64
 15  filename                 439 non-null    object
 16  url                      439 non-null    object
dtypes: float64(4), int64(6), object(7)
memory usage: 58.4+ KB
None
Missing values:
club_id                      0
club_code                    0
name                         0
domestic_competition_id      0
total_market_value         439
squad_size                   0
average_age                 38
foreigners_number            0
foreigners_percentage       49
national_team_players        0
stadium_name                 0
stadium_seats                0
net_transfer_record          0
coach_name                 439
last_season                  0
filename                     0
url                          0
dtype: int64
Duplicates: 0


ðŸ“Œ COMPETITIONS TABLE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   competition_id            44 non-null     object
 1   competition_code          44 non-null     object
 2   name                      44 non-null     object
 3   sub_type                  44 non-null     object
 4   type                      44 non-null     object
 5   country_id                44 non-null     int64
 6   country_name              36 non-null     object
 7   domestic_league_code      36 non-null     object
 8   confederation             44 non-null     object
 9   url                       44 non-null     object
 10  is_major_national_league  44 non-null     bool
dtypes: bool(1), int64(1), object(9)
memory usage: 3.6+ KB
None
Missing values:
competition_id              0
competition_code            0
name                        0
sub_type                    0
type                        0
country_id                  0
country_name                8
domestic_league_code        8
confederation               0
url                         0
is_major_national_league    0
dtype: int64
Duplicates: 0

### Convert IDs to integer for better performance

In [5]:
id_columns = ["game_id", "player_id", "club_id", "competition_id"]
for col in id_columns:
    for name, df in tables.items():
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce').astype("Int64")

In [6]:
# Identify the primary keys for each table
primary_keys = {
    "games": "game_id",
    "player_valuations": "player_id",
    "players": "player_id",
    "transfers": "player_id",
    "game_lineups": "game_lineups_id",
    "game_events": "game_event_id",
    "appearances": "appearance_id",
    "club_games": "game_id",
    "clubs": "club_id",
    "competitions": "competition_id"
}

# Check for duplicates
duplicate_counts = {}

for table, pk in primary_keys.items():
    duplicate_counts[table] = tables[table][pk].duplicated().sum()

# Display results
for table, count in duplicate_counts.items():
    print(f"Table: {table}, Duplicate {primary_keys[table]} Count: {count}")

Table: games, Duplicate game_id Count: 0
Table: player_valuations, Duplicate player_id Count: 463663
Table: players, Duplicate player_id Count: 0
Table: transfers, Duplicate player_id Count: 69067
Table: game_lineups, Duplicate game_lineups_id Count: 0
Table: game_events, Duplicate game_event_id Count: 0
Table: appearances, Duplicate appearance_id Count: 0
Table: club_games, Duplicate game_id Count: 73151
Table: clubs, Duplicate club_id Count: 0
Table: competitions, Duplicate competition_id Count: 43

## Convert Column Data Types

## Convert the date Column to Datetime

In [7]:
# Convert 'date' column to datetime format
for table_name, df in tables.items():
    for col in df.columns:
        if "date" in col.lower():
            df[col] = pd.to_datetime(df[col], errors="coerce")

In [8]:
for table_name, df in tables.items():
    for col in df.columns:
        if df[col].dtype == "object":
            df[col] = df[col].astype(str)

# Merging Fact Tables for Optimization

## Merged Games & Appearances (fact_match_performance) games + appearances + game_events

In [10]:
fact_match_performance = tables["games"].merge(
    tables["game_events"], on="game_id", how="left"
).merge(
    tables["appearances"], on=["game_id", "player_id"], how="left"
)
fact_match_performance.to_csv("fact_match_performance.csv", index=False)

## Merged Player Transfers & Valuations (fact_player_market)
Combines: player_valuations + transfers

In [12]:
fact_transfers_valuations = tables["transfers"].merge(
    tables["player_valuations"], on=["player_id"], how="left"
)
fact_transfers_valuations.to_csv("fact_transfers_valuations.csv", index=False)

In [13]:
# Processing dim_players
dim_players = tables["players"][[
    "player_id", "first_name", "last_name", "name", "date_of_birth",
    "position", "foot", "height_in_cm", "contract_expiration_date",
    "agent_name", "country_of_birth", "country_of_citizenship"
]].drop_duplicates()
dim_players.to_csv("dim_players.csv", index=False)

# Processing dim_clubs
dim_clubs = tables["clubs"][[
    "club_id", "name", "domestic_competition_id", "total_market_value",
    "squad_size", "average_age", "foreigners_number", "foreigners_percentage",
    "national_team_players", "stadium_name", "stadium_seats", "coach_name"
]].drop_duplicates()
dim_clubs.to_csv("dim_clubs.csv", index=False)

# Processing dim_competitions
dim_competitions = tables["competitions"][[
    "competition_id", "name", "sub_type", "type", "country_id",
    "country_name", "domestic_league_code", "confederation",
    "is_major_national_league"
]].drop_duplicates()
dim_competitions.to_csv("dim_competitions.csv", index=False)

# Processing dim_game_lineups
dim_game_lineups = tables["game_lineups"][[
    "game_lineups_id", "game_id", "player_id", "club_id",
    "player_name", "position", "number", "team_captain"
]].drop_duplicates()
dim_game_lineups.to_csv("dim_game_lineups.csv", index=False)

print("All dimension tables have been processed and saved as CSV.")

All dimension tables have been processed and saved as CSV.